<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slippi to Video Converter</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div id="parent">
        <div class="child" id="title">
            <h1>Slippi Replay to Video Converter</h1>
        </div>

        <div class="container">
            <h2>Upload .slp File</h2>
            <form action="/convert" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Upload & Convert" />
            </form>
            <form id="submitConvertForm" action="/convert_async" method="POST" enctype="multipart/form-data">
                <input type="file" name="file" />
                <input type="submit" value="Upload & Convert (async)" />
            </form>
            <h2 id="convert_queue_size">Loading...</h1>
        </div>
    </div>

    <script>
        const numberElement = document.getElementById("convert_queue_size");

        // Function to fetch new number from API
        async function updateQueueSizeText() {
            try {
                fetch("/api/convert_queue_size")
                    .then(res => res.json())
                    .then(data => {
                        numberElement.textContent = "Queue size: " + data.size;
                    });
            } catch (err) {
                console.error(err);
                numberElement.textContent = "Error fetching data";
            }
        }

        // Fetch the queue size periodically
        const fetchUpdateQueueSizeMs = 1000;
        setInterval(updateQueueSizeText, fetchUpdateQueueSizeMs);

        // Initial fetch immediately
        updateQueueSizeText();
    </script>

    <script>
        // List of submitted tasks
        let activeTasks = []

        document.forms['submitConvertForm'].addEventListener('submit', (event) => {
            event.preventDefault();

            // TODO: Do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'POST',
                body: new FormData(event.target)
            }).then((response) => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json().then(createdTask => { console.log(createdTask); activeTasks.push(createdTask) });
            }).then((body) => {
            }).catch((error) => {
                // TODO: Handle error
                console.error(error);
            });

            console.log(activeTasks);
        });

        function fetchResults() {
            // TODO: Send multiple at once to avoid a bunch of requests?
            let i = activeTasks.length - 1;
            while (i >= 0) {
                try {
                    let taskId = activeTasks[i]["taskId"];
                    fetch("/api/task_result", {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ taskId: taskId })
                    }).then(response => {
                        if (!response.ok) {
                            response.text().then(text => {
                                if (text === "Task does not exist") {
                                    // Task is unknown on the server, so remove it.
                                    activeTasks.pop()
                                    return null;
                                }
                                else if (text === "Task is not done") {
                                    // Task is not done. Continue.
                                    return null;
                                }
                            })
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        // Success
                        activeTasks.pop();
                        console.log("Success.");

                        // Download the file.
                        // Need to do this weird element creation and simulated click to download the file request.

                        // Extract filename from Content-Disposition header
                        const disposition = response.headers.get('Content-Disposition');
                        let filename = 'downloaded-file';
                        if (disposition && disposition.includes('filename=')) {
                            filename = disposition.split('filename=')[1].replace(/"/g, '');
                        }
                        response.blob().then(blob => {
                            const link = document.createElement('a');
                            link.href = window.URL.createObjectURL(blob);
                            link.download = filename;
                            document.body.appendChild(link);
                            link.click();
                            link.remove();
                            window.URL.revokeObjectURL(link.href);
                        });
                    }).catch(error => {
                        // TODO: Handle error.
                        // console.log(error);
                    });
                } catch (err) {
                    console.log("Failed to fetch result: ");
                    console.error(err);
                }
                --i;
            }
        }

        // Fetch result periodically
        const fetchResultsMs = 1000;
        setInterval(fetchResults.bind(activeTasks), fetchResultsMs);
    </script>

</body>

</html>
